//  color: lighten($base-color, 10%);
//  color: darken($base-color, 10%);
//  color: transparentize($base-color, 0.5);
$background-color: rgb(0, 0, 0);
$not-principal: darkslategrey;

$font-color: rgb(233, 233, 233);
$font-tittle: rgb(255, 255, 255);
$font-bodycolor: #9ca1d8;
$font-subtitle: rgb(65, 113, 175);
$font-highlight: #f9ff58;

$ok: rgb(79, 196, 44);
$cancel: rgb(212, 57, 57);
$neutral: rgb(36, 87, 196);

$font-url: '/fonts/Minercraftory.ttf';

@font-face {
  font-family: myFont;
  src: url($font-url);
}

body {
  width: 100%;
  height: 100%;
  font-family: myFont;
  font-size: 50px;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  color: $font-bodycolor;
  background-color: $background-color;
  line-height: 1.3em;
  overflow: hidden;
}

*:not(input):not(textarea):not(.copy) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.blocking {
  z-index: 1000;

  > div {
    position: fixed;
    bottom: 0;
    right: 0;
    color: $font-highlight;
  }  
}

#title {
  /*reposiionnement juste pour prochain absolute*/
  position: relative;
  margin-top: 10vh;
  text-align: center;
  transition-timing-function: ease-out;
  transition: transform 1s;
}

img.expend {
  width: 100vw;
  height: auto;
  max-height: 30vh;
}

.subTitle {
  color:$font-subtitle;
  font-size: 0.8em;
}

#name {
  margin-top: 10vh;
}

#play {
  margin-top: 10vh;
  > div {
    margin-bottom: 5%;
  }  
}

#play_playerName {
  font-size: 1.5em;
  color: $font-color;
}

.c {
  transition-timing-function: ease-in;
  transition: transform 1s;
}

.cOut {
  transform: translate3d(-150vw, 0px, 0px);
  transition-timing-function: ease-out;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Pour flex au top avec un scrolling éventuel...
.flexScroll {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: auto;
}

.flexH {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > span {
    width: 50vw;
  }  
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  color: $font-color;
  text-shadow: 2px 2px $background-color;
  display: block;
  padding: 2px 10px 2px 10px;
  margin: 10px 5px 0px 5px;
  min-width: 30vw;
  text-align: center;
}
@mixin button($color){
  background-color: $color;
  border-right-style: solid;
  border-right: 6px solid darken($color,10%);
  border-bottom: 6px solid darken($color,10%);
}

.validate {
  @include button($ok);
}

.cancel {
  @include button($cancel);
}

.allSurface {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 1.1em;
  color: $font-tittle;
}

/*  Prends 90vh de l'écran pour laisser de la place à des bouttons */
.presentation{
  width: 95vw;
  height: 90vh;
  padding-left: 5px; /* Hmm, comprends pas pourquoi autant et si peu à l'écran ?? */
  padding-top: 5px;
  word-wrap: break-word;
  overflow: scroll;
}

.w80 {
  width: 80%;
}

.abs {
  position: absolute;
  width: 100%;
}

#endGame {
  width: 100%;
  height: 30vh;
  font-size: 1.2em;
}

.espace {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.picto {
  width: auto;
  height: 1.1em;
  margin-left: 3px;
}

#money {
  margin: auto auto auto 0;
}

#logo {
  height: 30vh;
}

#litleLogo {
  height: 20vh;
}

.affichage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul{
  &#hoflist, &#readWeb{
    width:70%;
  }

  &.level {
    list-style-type: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
    height: 70vh;
    width: 100%;

    > menu {
      margin: 0px;
      padding: 0px;
      color: aliceblue;
    }    

    > li {
      padding: 5px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
    }    
  }
}

.pictoList {
  width: 30px;
  height: auto;
  margin-left: 20px
}

input {
  font-family: myFont;
  background-color: transparent;
  
  // INPUT  text
  &[type=text] {
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    color: $font-color;
    font-size: 1em;

    &:focus{
      border-bottom: 3px solid $font-color;
      outline: none;
    }
  }  

  // INPUT  Range
  &[type=range] {
    height: 28px;
    -webkit-appearance: none;
    appearance: none;
    margin: 5px 0;
    width: 100%;
    display: inline-block;

    &:focus {
      outline: none;
    }  
  
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      animation-delay: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #2497E3;
      border-radius: 0px;
      border: 0px solid #000000;
    }
    
    &::-webkit-slider-thumb {
      box-shadow: 1px 1px 8px #000000;
      border: 1px solid #2497E3;
      height: 20px;
      width: 22px;
      border-radius: 25px;
      background: #A1D0FF;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      margin-top: -9px;
    }
    
    &:focus::-webkit-slider-runnable-track {
      background: #2497E3;
    }
    
    &::-moz-range-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      animation-duration: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #2497E3;
      border-radius: 0px;
      border: 0px solid #000000;
    }
    
    &::-moz-range-thumb {
      box-shadow: 1px 1px 8px #000000;
      border: 1px solid #2497E3;
      height: 20px;
      width: 22px;
      border-radius: 25px;
      background: #A1D0FF;
      cursor: pointer;
    }
  }
}

.space {
  height: 40vh;
}

fieldset {
  font-size: 0.7em;
  margin-top: 2vh;
  border: 5px solid #1F497D;
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(24, 28, 124, 0.46);
  height: 70vh;

  legend {
    color: #fff;
    padding: 5px 10px;
    font-size: 1.1em;
    margin-left: 20px;
    background: #1F497D;
  }  
}

#version {
  position: fixed;
  bottom: 0px;
  color: $not-principal;
  font-size: 0.5em;
}

#TryCanGame > div {
  margin-bottom: 3vh;
}
